body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(0, 115, 255);
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    background-color:aquamarine;
    border: none;
    border-radius: 10%;
}